

/* NAVBAR */
.navbar {
    background-color: #FAF0E6;


}

/* #navbar-luar{
    position: fixed;
} */
.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Benne', serif;
}

.nav-link {
    margin-right: 10px;
    font-size: 25px;
    font-family: 'Benne', serif;


}


/* Jumbotron */

.jumbotron {
    background-image: url(/asset/img/jumbrotron.jpg);
    height: 860px;
}

.caption {
    margin-top: 300px;
    margin-left: 60%;
    position: absolute;
  

}

.caption h2 {
    font-family: 'Benne', serif;
    font-size: 50px;
}

/* Profil */
.profil p {
    margin-left: 50px;
    margin-top: 10px;
}

.profil .judul-caption-profil {
    margin-top: 40px;
    margin-left: 50px;

}

.caption-profil {
    font-family: 'Benne', serif;
    font-size: 25px;
}

.gambar-profil {
margin-bottom: auto;
height: 150%;
margin-top: -15%;
margin-left: 0%;
}

#profil  {
    background-color: #FAF0E6;
}


/* Skill */
#skill {
    background-color: burlywood;
}

.carousel-inner img {
    height: 600px;
}



/* Experience */

.experience{
	height:600px;
	background-color:#ffffff;
	padding: 2% 10% 0px 10%;
}


.box-container{
	display:flex;
	justify-content:space-between;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0px 4px;
	
	
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color:#FFFFFF;
	font-family: calibri;
	font-size: 23px;
	line-height:0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;
}
.box-1 button,
.box-2 button,
.box-3 button{
	width:100px;
	height:30px;
	background-color:#FFFFFF;
	border:none;
	outline: none;
	border-radius:5px;
}
.box-container {
    margin-top: 15px;
}

.experience-text {
    text-align: center;

}


.box-1, .box-2, .box-3 {
    text-align: center;
}


/* Footer */
	.card-footer {
		font-family: 'Benne', serif;
	}
	/* Sosial Media */
	.card-footer .social-media {
		font-size: 15px;
	}

	.social-media i{
		font-size: 16px;
		margin-top: 8px;
	}

	.personal-contact i {
		font-size: 16px;
		margin-top: 8px;
	}